<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Name</th>
          <th>Description</th>
          <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "line_item", object: @order %>
      </tbody>
    </table>
    <div>
      Email: <%= @user.email %>
    </div>
    <div> Total Item Count: <%= (@order.line_items.sum(:quantity))%> </div>
    <div> Total Price: $<%= (@order.line_items.sum(:total_price_cents))/100.0%>  </div>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
		